main {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;

        

    img {
        margin-top: 5em;
    }

    a {
        background-color: #0095F0;
        padding: 2em 0;
        text-align: center;
        text-decoration: none;
        color: #FFF;
    }
}